.header {
    grid-area: h;

    /*display: grid;*/
    background-color: green;
}

.header img {
    width: 70px;
    align-self: center;
    padding-top: 5px;
}

.loginBlock {
    float: right;
    padding-right: 5px;
}

.loginBlock :where(span, a) {
    color: white;
    text-decoration: none;
}

.loginBlock :where(span, a):hover {
    color: red;
    cursor: pointer;
}