.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogItems {
    padding: 10px;
}

.messageBlock {
    padding: 10px;
}

.messageBlock .inputBlock {
    margin-top: 5px;
}

.messageBlock .inputBlock .textField {
    margin-top: 20px;
    background: white;
}